<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BioDesigner</title>
    <link rel="shortcut icon" href="/static/img/logo.png">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <!-- Java Script -->
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div id="container">
    <div class="logo-big">
        <img src="/static/img/logo.png" alt="logo" class="img-rounded" style="width: 140px;height: 140px;" />
    </div> <!-- div.logo-big -->
    <div class="slogn" role="alert">Confirm Successful!</div>
    
</div><!-- div#container -->

</body>
</html>