<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BioDesiger</title>
	<link rel="stylesheet" href="/static/css/chu.css">
	<link rel="stylesheet" href="/static/css/jquery-ui-1.8.16.custom.css">
	<link rel="stylesheet" href="/static/css/igem.css">
	
	<!--<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>-->
	<script type="text/javascript" src="/static/js/jquery-1.7.js" ></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.js" ></script>
	<script type="text/javascript" src="/static/js/igem.js"></script>
	<script type="text/javascript" src="/static/js/jquery.tmpl.js"></script>
</head>
<script id="search_part" type="text/x-jquery-tmpl">
    <div class="part_style part_drag show_message "  part_name="${part_name}" part_id="${part_id}" 
          part_type="${part_type}">${part_name}</div>
</script>
<script id="recommand_part" type="text/x-jquery-tmpl">
  
	<div class="part_style part_drag show_message "  part_name="${part_name}" part_id="${part_id}" >${part_name}</div>
    
</script>
<script id="recommand_part_list" type="text/x-jquery-tmpl">
	
	
    <div class='recommend_list_st' part_id="${part_id}" part_name="${part_name}" >${part_name}</div>
	
</script>

<body>
	<div id="total_container"><!-- total container start -->
		<div id="left_container"><!-- left container start -->
			<div id="logo"><!-- logo start-->
				<!--  logo -->
			</div><!-- logo stop-->
			
			
			<div id="tab_container"><!-- tab start-->
				<ul  id="tab_ul">
					<li style="width:48%;margin:0;"><a href="#search_part_container">part</a></li>
					<li style="width:48%;margin:0;float:right;" ><a href="#project_container">project</a></li>
				</ul>

				<div id="search_part_container" class="tab_div_container">
					<div class="search_container" >
						<input type="text" class="search_input" id="search_part_input" />
						<button  class="search_button" id="search_part_button" >search</button>
					</div>
                    <div class="result_container" id="part_result_container">
                    	
                    </div>
                </div>
				<div id="project_container">
					personal
				</div>
			</div><!-- tab stop-->
			
			<div id="recommand_container"><!-- recommand start-->
				<h1 id="title">recommand</h1>
				<div id="recommand_search_container">
					
				</div>
			</div><!-- recommand stop-->
			
		</div><!-- left container stop -->
		<div id="right_container"><!-- right container start -->
			<div id="bananer"><!-- bananer start-->
	            <!-- bananer here -->
			</div><!-- bananer stop -->
			<div id="operation"><!-- operation start -->
				<div class="add_style add_button_receive"></div>
				<div class="receive_style receivable" id="1"></div>
				<div class="add_style add_button_receive"></div>
				
			</div><!-- operation stop -->
		</div><!-- right container stop -->
	</div><!-- total container stop  -->

</body>
</html>